<!DOCTYPE html>
<html>
  <head>
    <title>Lab4</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lab 4 Update and Delete </h1>
    <p>To view list of books. /books</p>
  </body>
</html>
